
body { 
    color:white;
    background-color:#15222E; 
    font-family: "Overlock SC", Helvetica, sans-serif;
}

table{ 
    padding: 2px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    background-color: #15222E;
}

tr.ranking:nth-child(1){ background:#ffd700; color:#15222E}
tr.ranking:nth-child(2){ background:#c0c0c0; color:#15222E}
tr.ranking:nth-child(3){ background:#a52a2a; color:#ffffff}
tr.ranking:hover {background: #47A3D8;color:#ffffff}


tr.games {
    background:#15222E;
    color:#999
}


tr.games:nth-child(1){ color:#fff}
tr.games:nth-child(2){ color:#ddd}
tr.games:nth-child(3){ color:#ccc}
tr.games:nth-child(4){ color:#bbb}
tr.games:nth-child(5){ color:#aaa}
tr.games:hover {background: #47A3D8;color:#ffffff}


td {
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
  }
  
td.small{ padding-left:30px; font-size:16px;}
